---
layout: base
---
<section class="grid-container usa-section margin-bottom-4">
    <h1 class="page-heading">Blog</h1>
    {% for post in paginator.posts %}
    <div class="grid-row grid-gap margin-bottom-4">
      <div class="tablet:grid-col-4 margin-bottom-2"><img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}"
        title="{{ post.title }}"></div>
      <div class="tablet:grid-col-8">
        <ul class="add-list-reset">
          <li>
            <h3>
              <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
            By: {{ post.author}}</br>
            {{ post.date | date_to_long_string }}
            {{ post.excerpt | truncatewords: 35 }}
          </li>
        </ul>
      </div>
    </div>
    {% endfor %}
  
  {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
      <a class="margin-right-2" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
    {% endif %} 
  {% endif %}
</section>

{% include contact.html %}
